.menu-item-time {
  display: flex;
  align-items: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;

    & > svg {
      width: 87%;
      height: 100%;
    }
  }

  &:hover {
    .menu-item-time__icon > svg {
      & #rotatable-hand {
        transform: rotate(30deg);
        transform-origin: center;
        transform-box: fill-box;
      }
    }
  }
}
